.img-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    height: 100%;
    border-radius: 16px;
    width: 100%;
}

.img-upload:hover{
    border-color: rgb(30, 80, 200);
    color: rgb(30, 80, 200);
}
.img-upload input{
    display: none;
}

.img-preview{
    overflow: hidden;
    border-radius: 16px;
    padding: 16px;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.img-preview img{
    border-radius: 12px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-preview img:hover{
    cursor: pointer;
}