.img-upload{
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    width: 300px;
    aspect-ratio: 16/10;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.img-upload:hover{
    border-color: rgb(30, 80, 200);
    color: rgb(30, 80, 200);
}
.img-upload input{
    display: none;
}

.img-preview{
    position: relative;
    width: 300px;
    aspect-ratio: 16/10;
    overflow: hidden;
    border-radius: 16px;
    padding: 16px;
}

.img-preview img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-preview .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    padding: 16px;
}

.img-preview .close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.img-preview .close-btn .close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}