.my-art {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px; 
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;

}

.my-art .my-art-collection {
    flex: 1;
}

.my-art .my-art-collection ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.my-art .my-art-collection ul li{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 10px;
    display: inline-block;
    width: 28%
}

.my-art .my-art-collection ul li:hover{
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}

.my-art .my-art-collection p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
}

.my-art .my-art-collection img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    aspect-ratio: 1/1;

}

.my-art .modify-art {
    flex: 1;

}

.my-art .modify-art form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.my-art .modify-art form input {
    width: 100%;
}

.my-art .modify-art form textarea {
    width: 100%;
}

.my-art .modify-art .form-buttons {
    display: flex;
    flex-direction: row;
}

.my-art .modify-art .form-buttons button {
    flex: 1;
    width: 100%;
    padding: 8px;
    margin: 0 1.5rem;
}