.add-new-art-container {
    position: relative;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 100%;
}

.add-art-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-height: 100%;
}
.add-new-art-container .art-upload {
    flex: 1;
    display: block;
}

.art-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 16px;
    width: 300px;
}
.art-form h3 {
    margin: 0;
    text-align: left;
    font-size: 2em;
}

.art-form input {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
}

.art-form textarea {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
    resize: none;
    min-height: 100px;
}

.art-form button {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    background-color: rgb(30, 80, 200);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}