.searched-art {
    overflow: auto;
    scrollbar-width: none;
    min-width: 0;
    overflow: hidden;
}

.searched-art ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    justify-content: center;
}

.searched-art-card {
    position: relative;
    transition: all 0.3s ease-in-out;
    flex: 0 0 18%;
    min-width: 0;
    overflow: hidden;
}

.searched-art-card > img {
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.searched-art-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.searched-art-card p {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
}

.searched-art-card p:last-child {
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  padding: 0.4rem;
  font-size: 0.6rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0;
  width: auto;
}



@media (min-width: 601px) and (max-width: 1000px) {
    .searched-art-card {
        flex: 0 0 30%;
    }
    .searched-art-card p:last-child {
        font-size: 0.5rem;
        padding: 0.3rem;
        bottom: 0.3rem;
        left: 0.3rem;
        border-radius: 8px;
    }
}

@media (max-width: 600px) {
    .searched-art-card {
        flex: 0 0 45%;
    }
    .searched-art-card p:last-child {
        font-size: 0.5rem;
        padding: 0.2rem;
        bottom: 0.2rem;
        left: 0.2rem;
        border-radius: 6px;
    }
}
