.searched-art {
    overflow: auto;
    scrollbar-width: none;
    flex: 1;
}

.searched-art ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.searched-art ul li {
    position: relative;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    width: 18%;
}

.searched-art ul li > img {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.searched-art ul li:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.searched-art ul li > p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.searched-art ul li p:last-child {
    position: absolute;
    padding: 0.5rem;
    font-size: 0.75rem;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.searched-art ul li p:hover {
    cursor: default;
}

