.random-image {
    overflow: auto;
    scrollbar-width: none;
    flex: 1;
}

.random-image ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.random-image ul li {
    margin: 10px;
    width: 18%;
}

.random-image ul li > img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.random-image ul li > img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}