body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

#root {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 50px);
  margin-top: 50px;
  padding: 2rem;
  text-align: center;
}
