.home {
    padding: 1em;
    height: calc(100vh - 50px - 2em);
    background-color: rgba(0, 0, 0, 0.3);
    margin: 1em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-radius: 16px;
}

.home .search {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    justify-content: center;
}

.home .random-arts {
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    margin-top: 1em;
}