.personal-art-page {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.personal-art-page-sidebar {
    width: 250px;
    padding: 0;
}

.personal-art-page-content {
    flex: 1;
    padding: 1em;
    color: white;
    height: calc(100vh - 50px);
    overflow-y: auto;
}