.registerform {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.registerform ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}